<!doctype html>
<html>
<head>
	<title>{% block title %}My Ticket Data Site!{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "tickets/css/style.css" %}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
	<div class="container pt-3">
		<div class="row justify-content-center">
			<div class="container pt-4">
			<h1 id="site_title" style="padding-left: 140px; text-shadow: 1.5px 1.5px 2px rgba(150, 150, 150, 1); font-size: 38.5px;">Hello world and welcome to my ticket data site!</h1>
			<p id="paragraph1" style="text-align: justify; padding: 10px 140px 0px;">My name is Chris and I'm a web developer & film buff. Since the summer of 2009, I've been collecting movie ticket stubs as a hobby. My total count so far is 132 ticket stubs! To further my education in programming and web development, I decided to put some data from this ticket collection into a neat little website with pie charts and graphs.<br><br>Here's what I did:</p>

			<ol id="mylist" style="padding-left: 195px;">
				<li>I entered information about my tickets into a table in a MySQL Database</li>
				<li>I used a <a href="https://dev.mysql.com/doc/refman/8.0/en/select-into.html" target="_blank">MySQL command</a> to turn that data into an Excel spreadsheet</li>
				<li>I made pie charts and graphs using data from the Excel spreadsheet</li>
				<li>Profit! (just kidding, I'm not making money from this)</li>
			</ol>

			<p id="paragraph2" style="text-align: justify; padding: 10px 140px 0px;">These pie charts and graphs were made using a Python library called <a href="https://matplotlib.org/index.html" target="_blank">matplotlib.</a> If you want to take a look at how I did this, this website's code is available on <a href="https://github.com/awkwardio/ticketdata" target="_blank">my github page.</a> I might also revisit this page from time to time and modify it to add more movies that I plan on seeing in the future. Anyway, thanks for stopping by!</p>
			</div>
		</div>

		<div class="row justify-content-center">
			{% load static %}
			<img src="{% static "tickets/images/piechart.png" %}" />
			<img src="{% static "tickets/images/piechart2.png" %}" />
			<img src="{% static "tickets/images/year graph.png" %}" />
		</div>
	</div>
</body>

</html>

<footer>
	<p id="footertext" style="text-align: center; font-size: 20px; font-weight: bold;">Copyright 2018 Christopher Thomas</p>
</footer>